*~
*.rbc
*.sassc
**.orig
.bundle
.rspec
.sass-cache
.vagrant
capybara-*.html
pickle-email-*.html
rerun.txt
/cookbooks
/coverage
/db/*.sqlite3
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
